server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: ${AUTH_SERVICE_URL}
          predicates:
            - Path=/auth/**
        - id: job-service
          uri: ${JOB_SERVICE_URL}
          predicates:
            - Path=/jobs/**
